* {
  box-sizing: border-box;
}
body {
  background-image: url('https://media.istockphoto.com/vectors/corgi-butt-cartoon-seamless-pattern-vector-illustration-vector-id1150357078?k=6&m=1150357078&s=612x612&w=0&h=QX6ndZrf8N2VvHjWFjbHysskSi8LsbOqi-DwchRWtx0=');
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0;
}
.introbox {
  background: white;
  border: 2px solid lightblue;
  margin: 10px 25px 20px 15px;
  width: 500px;
}
.details {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 5px;
}
.sectionbox {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 5px;
}
.start{
  margin: 5px;
}
.score{
  margin: 5px;
}
.lives{
  margin: 5px;
}
.grid {
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
}
.cell {
  font-size: 5px;
  background-color: cadetblue;
}
.holdingArea{
  background-color: rebeccapurple;
}
.walls {
  background-color: green;
  background-size: contain;
}
.chicken {
  background-image: url('https://image.flaticon.com/icons/png/512/1206/1206237.png');
  background-size: contain;
}
.bones {
  background-color: white;
  background-size: contain;
  color: black;
}
.winston {
  background-image: url('https://i.pinimg.com/564x/8a/23/59/8a23597bcf4ff7c3b49203b61e0564aa.jpg');
  background-size: contain;
}
.ghost1 {
  background-color: pink;
}
.ghost2 {
  background-color: red;
}
.ghost3 {
  background-color: blue;
}
.ghost4 {
  background-color: yellow;
}